@charset "utf-8";

@import "variable";
@import "basic/mixin";
@import "basic/selector";
@import "basic/reset";
@import "basic/default";
@import "basic/grid";

/*==================================================================================================
	サイト基礎
==================================================================================================*/
body {
  color: $color-black;
  font-weight: 500;
  overflow-x: hidden;
  line-height: 1.6;
  font-family: $font-default;
  @include font-size(16);

  @include max-screen($screen-tb) {
    @include font-size(14);
  }

  @include max-screen($screen-sm) {
    @include font-size(12);
  }
}
.mContainer {
  padding-top: 7rem;
  @include max-screen($screen-tb) {
    padding-top: 5rem;
  }
  @include max-screen($screen-sm) {
    padding-top: 3rem;
  }
  &:first-child {
    padding-top: 0;
  }
}
.inner {
  max-width: $width-inner;
  @include inner();
  margin: 0 auto;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  text-align: center;
  padding: 1rem;
  margin: 5rem 0 !important;
  text-transform: uppercase;
}
h2 {
  border-bottom: 1px solid #0099ff;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem !important;
  text-transform: uppercase;
  color: #0099ff !important;
}
h3 {
  margin-bottom: 2rem !important;
  text-transform: uppercase;
  background-color: #a4dbff;
  padding: 0.5rem;
  border-radius: 3px;
}
button {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  border-color: #0099ff;
  color: #0099ff !important;
  &:hover {
    color: #ffffff !important;
    background-color: #0099ff;
  }
}
.boxCtn {
  margin-bottom: 5rem;
  &__item {
    margin-bottom: 3rem;
  }
}

footer {
  text-align: center;
}
.nav {
  margin-bottom: 3rem;
}
